

<h2>Doi copii fara slujbe,dar cu un vis...</h2>


<p>Csiki Zsolt si inceputurile...</p>
<p>Csiki Zsolt si Gligor Nicolae Vlad , doi tineri supusi greutatilor acestei lumi grele a MIP-ului de D-l Roman Adrian au fost fortati sa prinda mana destinului si au decis sa deschida o companie ce urma sa fie cel mai de rasunet succes din lume de la aparitia Microsoft-ului...</p>
<p>The Car60PRO Company opened not long ago.</p>
<p>
    It is a company based in Targu Mures, which sells cars of the highest level.
    It has a high number of employees, up to 2 people, but it is only now expanding.
</p>
<p>
    The company has subsidiaries in several countries such as Italy, Spain, Germany, Hungary, Great Britain and France.
</p>
<p>
    It delivers throughout "all" Europe through the famous "yellow postman" company DHL Company.
</p>
<p>
    But don't delivers in Japan,India and South America.
</p>
