@{
    ViewBag.Title = "Contact";
}
<h2>Contact information</h2>

<address>
    Strada Nicolae Grigorescu, nr.17<br />
    Mures, Targu Mures<br />
    <abbr title="Phone">Phone:</abbr>
    +40 754.768.411
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportCar60@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">SellEverythingOut@gmail.com</a>
</address>