@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car60PRO</h1>
    <p class="lead">Buy a car and we give you a chicken.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mercedes</h2>
        <p>
            With a Mercedes-Benz automobile you'll have the on-demand power, but in addition you'll experience the ultimate in performance out of the systems that deliver excellence in ride, handling, comfort, fuel economy, safety and even entertainment.
            These are the aspects that make up performance.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src=”Mercedes.jpg” height=”1200” width=”1920” />
    </div>
    <div class="col-md-4">
        <h2>Ferrari</h2>
        <p>Ferrari NV is a holding company. It manufactures luxury sports cars. The firm's models include the F12Berlinetta, 488GTB, 488 Spider, 458 Speciale, California T, the LaFerrari Hybrid, LaFerrari and the FF four-wheel drive. It participates in car racing such as Formula One.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BMW</h2>
        <p>The special fascination of the BMW Group not only lies in its products and technology, but also in the company’s history, written by inventors, pioneers and brilliant designers. Today, the BMW Group, with its 31 production and assembly facilities in 15 countries as well as a global sales network, is the world’s leading manufacturer of premium automobiles and motorcycles, and provider of premium financial and mobility services.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>